.root {
    -fx-background-color: #FFFFFF;
}

.textOutContainer {
    -fx-background-color: #000000;
}

.rectangle {
    -fx-fill: #B2B2B2;
}

.textOut {
    -fx-fill: #FFFFFF;
    -fx-font-family: "Segoe UI";
}

.textOutBig {
    -fx-font-size: 35px;
}

.textOutSmall {
    -fx-font-size: 15px;
    -fx-fill: #000000;
}

.button {
    -fx-focus-traversable: false;
    -fx-background-color: #B2B2B2;
    -fx-text-fill: #000000;


    -fx-font-size: 20px;
    -fx-font-family: "Segoe UI";
}

.button:hover {
    -fx-background-color: #585858;
}

.button:pressed {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: black;
}

.btnNumber {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 25px;
}

.btnEqual {
    -fx-background-color: #458400;
}

.btnEqual:hover {
    -fx-background-color: #5D9521;
}

.btnEqual:pressed {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: black;
}

.click {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: black;
}